.env

__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.pytest_cache/
.venv
venv
env

dist/
build/
*.so
wheels/

.vscode/
.idea/
*.swp

*.sqlite3
*.db
log.txt
*.log

**/node_modules/
**/package-lock.json
yarn.lock
pnpm-lock.yaml
.npm/
.yarn/
**/dist/
.vite/
*.local

# model_cahce
model_cache/
